version: '3.6'

services:
  harvester:
    image: harvester:v1
    container_name: harvester{{IpAdd}}
    restart: always
    environment:
      - COUCHDB_USERNAME={{database_user}}
      - COUCHDB_PASSWORD={{database_password}}
      # Docker bridge IP - equivalent to localhost
      - COUCHDB_NODE_IP=172.17.0.1
      - COUCHDB_DATABASE_NAME=twitter
      - TWITTER_API_KEY={{twtr_api_k}}
      - TWITTER_API_KEY_SECRET={{twtr_api_v}}
      - TWITTER_ACCESS_TOKEN={{twtr_access_k}}
      - TWITTER_ACCESS_TOKEN_SECRET={{twtr_access_v}}
