#!/bin/sh
sleep 15
curl http://127.0.0.1:5984/
curl -X POST -H "Content-Type: application/json" http://admin:password@127.0.0.1:5984/_cluster_setup -d '{"action": "enable_cluster", "bind_address":"0.0.0.0", "username": "admin", "password":"password", "port": 5984, "node_count": "2", "remote_node": "{{groups.couchdb[1]}}", "remote_current_user": "admin", "remote_current_password": "password" }'
curl -X POST -H "Content-Type: application/json" http://admin:password@127.0.0.1:5984/_cluster_setup -d '{"action": "add_node", "host":"{{groups.couchdb[1]}}", "port": 5984, "username": "admin", "password":"password"}'
curl http://127.0.0.1:5984/
sleep 15
curl -X POST -H "Content-Type: application/json" http://admin:password@127.0.0.1:5984/_cluster_setup -d '{"action": "finish_cluster"}'

