version: '3.6'

services:
    couch-server:
        image: customize-couchdb:v1
        stdin_open: true
        tty: true
        container_name: couchdb{{IpAdd}}
        restart: always
        command: "-setcookie cookie"
        ports:
            - "5984:5984"
            - "4369:4369"
            - "9100-9200:9100-9200"
        environment:
            - COUCHDB_USER={{database_user}}
            - COUCHDB_PASSWORD={{database_password}}
        volumes:
            - {{ couchdb_dir }}:/opt/couchdb/data
